*{margin: 0;padding: 0;}
ul li{list-style-type: none;}
dl dt{
    margin-left: 10px;
    font-size: 16px;
    font-weight: normal;
}
dl dd{
    font-size: 18px; 
    padding: 3px;
    background-color: #c3c1ce;
}
.main{height:640px;}
.col-sm-3{background-color: #526f9a;height: 100%;}
.col-sm-9{height: 100%;overflow: auto;}
h1{
    text-align: right;
    margin: 7.5px 0 0 0;
    color:#c3c1ce;
    font-style: italic;
}
h2{color:white;}
.col-sm-3 ul{margin: 50px 0;}
.col-sm-3 li a{
    color:white;
    font-size: 16px;
    display:block;
    padding: 10px;
}
.col-sm-3 li a:hover{
    background-color: #c3c1ce;
    color:black;
    text-decoration: none;
}
.footer{
    background-color:#737373;
    text-align: center;
    color:white;
}
